<ion-header>
  <ion-toolbar class="gradient-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>BookFinder</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="light">
        <ion-icon slot="icon-only" name="book-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <app-navbar class="home-navbar" (searchEvent)="onSearch($event)"></app-navbar>
  <div class="list-container">
    <app-lista-libros [libros]="libros"></app-lista-libros>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <p class="footer-text">© IFTS 2025 – Tu Biblioteca Virtual</p>
  </ion-toolbar>
</ion-footer>